@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    font-family: 'Raleway', sans-serif;;
    text-align: justify;
}
.highlight{
    background-color:yellow;
}
#highlightBtn{
    background-color:#e6eb9d;
}
#wordCount{
    font-style: italic;
}
